.container.form.register-infos
	%h2 Modalités d'inscription

	%ul 
		%li Accès illimité à toutes les dernières vidéos
		%li Téléchargez les fichiers sources de chaques vidéos
		%li Posez vos questions et bénéficiez d'une réponse personnalisé et rapide
.container.form.registration
	.register-box
		%h2 Inscription

		= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
			= f.error_notification

			.step.step1
				%h3 1 - Informations basiques :
				= f.input :nom, required: true, autofocus: true, label: "Nom :"
				= f.input :prenom, required: true, label: "Prénom :"
			.step.step2
				%h3 2 - Identifiants du compte :
				%div
					= f.input :email, required: true
				%div
					= f.input :password, required: true, label: "Mot de passe"
				= f.input :password_confirmation, required: true, label: "Confirmation mot de passe"

			.step.step3
				%h3 3 - Informations de paiement
				%label Numéro carte :
				%input
				%label Date d'expiration
				%select
					%option{value: "Septembre"} Septembre
				%select
					%option{value: "21"} 21

			= f.button :submit, "Je m'inscris", class: 'btn btn-success'


