.container.form
	= simple_form_for @screencast do |s|
		= s.input :titre

		%div
			Image principale
			= s.file_field :image_principale
		%div
			= s.file_field :video

		%div
			=s.association :categorie, label_method: :nom
		%div
			= s.submit "Editer"
