.container.form.new_screencast
	= simple_form_for @screencast do |s|
		= s.input :titre

		%div
			= s.label :file_field, "Image principale"
			= s.file_field :image_principale


		%div
			= s.label :video, "Video :"
			= s.file_field :video

		%div
			=s.association :categorie, label_method: :nom

		%div
			= s.input :description, as: :text

		
		%div
			= s.input :premium

		%div
			= s.submit "Editer"
