%aside.nano
	.content
		- @screencasts.each do |screencast|
			.box
				= link_to screencast_path(screencast) do 
					= image_tag(screencast.image_principale.url)
					.titre= screencast.titre 

.container.index
	.word
		= image_tag('tv.png')
		%h2 Regardez
		%p 
			Parcourez la bibliothèque et regardez les screencasts de votre choix en illimités parmis 
			les nombreuses catégories (HTML, CSS, JavaScript, PHP, Ruby, etc).
	.word
		= image_tag('book.png')
		%h2 Apprenez
		%p
			L'auto-apprentissage est un élément essentiel pour un bon développeur, 
			chaques screencasts misent sur l'essentiels permettant la compréhension 
			du public.
	.word
		= image_tag('tools.png')
		%h2 Créez
		%p 
			Une fois le screencast terminé, vous avez tous les outils en main pour
			réaliser de grandes choses. Anecdotes et conseils vous permettant 
			de démarrer sur de bonnes bases.

	%a.btn.btn-success.register{href:'#'}
		Commencer dès maintenant
