= javascript_include_tag "show"
= javascript_include_tag "disqus"

.container.show
	.content
		%h1
			= @screencast.titre
			- if user_signed_in? and current_user.admin
				= link_to "Editer", edit_screencast_path(@screencast.id), class: 'btn btn-primary edit'
				= link_to "Supprimer", screencast_path(@screencast), method: :delete, class: 'btn btn-danger destroy'
			- if @screencast.premium and !user_signed_in?
				.edit
					= link_to image_tag('locker.png', alt: "Accès Premium", title: "Accès Premium"), new_user_registration_path, class: 'premium'
		%div.video_container
			// - if @screencast.premium and user_signed_in? or @screencast.premium == false
			// 	= video_tag(@screencast.video.url, controls: true)

			%script{type:"text/javascript", src:"//cdn.sublimevideo.net/js/16xqmz3m.js"}
			%video#a240e92d.sublime{data: { image:"#{@screencast.image_principale.url(:large)}"}}
				%source{src: "#{@screencast.video.url}"}
				// %source{src: "https://cdn.sublimevideo.net/vpa/ms_720p.mp4", data: {quality: "hd"}}
				// %source{src: "https://cdn.sublimevideo.net/vpa/ms_360p.webm"}
				// %source{src: "https://cdn.sublimevideo.net/vpa/ms_720p.webm", data: {quality: "hd"}}

						
			// - else
			// 	Vidéo preview

		%p
			= @screencast.description
		.actions
			- if user_signed_in?
				- if @isFav
					%a.fav.active{href: '#', data: {fav: "true"}} 
						= image_tag("star.png", data: {id: @screencast.id})
						.tooltip
				- else 
					%a.fav{href: '#'}
						= image_tag("star.png", data: {id: @screencast.id})
						.tooltip
			%a.facebook{href: '#'}
				= image_tag("fb.png")
			%a.twitter{href: '#'}
				= image_tag("twitter.png")


		- if user_signed_in?
			#disqus_thread{style: "margin-top: 25px"}

		%noscript 
			Please enable JavaScript
    
		/ .questions
		/ 	%h2 
		/ 		Questions & commentaires
		/ 		%small 
		/ 			= @screencast.commentaires.length 
		/ 			- if @screencast.commentaires.length > 1
		/ 				commentaires
		/ 			- else
		/ 				commentaire

		/ 	.comment-box
		/ 		- if user_signed_in?
		/ 			.comment-form	
		/ 				.float-left
		/ 					= image_tag(get_avatar_url(current_user))
		/ 				.float-right
		/ 					= simple_form_for [@screencast, @screencast.commentaires.build] do |c|
		/ 						= c.input :contenu, as: :text
		/ 						= c.input :user_id, as: :hidden, input_html: { value: current_user.id, data: { readonly: :readonly} }
		/ 						= c.submit "Envoyer", class: 'btn btn-success'
		/ 		- if user_signed_in?
		/ 			.reponses
		/ 				= render @screencast.commentaires
		/ 		- else
		/ 			.reponses.el
		/ 				= render @screencast.commentaires
				


						

