= javascript_include_tag "show"
= javascript_include_tag "disqus"

%meta{property:"og:title",content:"#{@screencast.titre}"}
%meta{property:"og:type",content:"Site"}
%meta{property:"og:url",content:"https://webcasts.fr/screencasts/#{@screencast.slug}"}
%meta{property:"og:image",content:"#{@screencast.image_principale.url}"}

.container.show
	.content
		%h1
			= @screencast.titre
			- if user_signed_in? and current_user.admin
				= link_to "Editer", edit_screencast_path(@screencast.id), class: 'btn btn-primary edit'
				= link_to "Supprimer", screencast_path(@screencast), method: :delete, class: 'btn btn-danger destroy'
			- if @screencast.premium and !user_signed_in?
				.edit
					= link_to image_tag('locker.png', alt: "Accès Premium", title: "Accès Premium"), new_user_registration_path, class: 'premium'
		%div.video_container
			// - if @screencast.premium and user_signed_in? or @screencast.premium == false
			// 	= video_tag(@screencast.video.url, controls: true)

			%script{type:"text/javascript", src:"//cdn.sublimevideo.net/js/16xqmz3m.js"}
			%video#a240e92d.sublime{data: { image:"#{@screencast.image_principale.url(:large)}"}}
				%source{src: "#{@screencast.video.url}"}
				// %source{src: "https://cdn.sublimevideo.net/vpa/ms_720p.mp4", data: {quality: "hd"}}
				// %source{src: "https://cdn.sublimevideo.net/vpa/ms_360p.webm"}
				// %source{src: "https://cdn.sublimevideo.net/vpa/ms_720p.webm", data: {quality: "hd"}}

						
			// - else
			// 	Vidéo preview

		%p
			= @screencast.description


		%div{class: user_signed_in? ? "actions" : "actions simple_share"}
			- if user_signed_in?
				- if @isFav
					%a.fav.active{href: '#', data: {fav: "true"}} 
						= image_tag("star.png", data: {id: @screencast.id})
						.tooltip
				- else 
					%a.fav{href: '#'}
						= image_tag("star.png", data: {id: @screencast.id})
						.tooltip

			- unless user_signed_in?		
				%a.facebook.first-share{href: "https://www.facebook.com/sharer/sharer.php?u=https://webcasts.fr/screencasts/#{@screencast.slug}", target: "_blank"}
					= image_tag("fb.png")
			- else 
				%a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=https://webcasts.fr/screencasts/#{@screencast.slug}", target: "_blank"}
					= image_tag("fb.png")
			%a.twitter{href: "https://twitter.com/share?text=#{@screencast.titre}&via=webcasts_&url=https://webcasts.fr/screencasts/#{@screencast.slug}",target: "_blank", data:{lang: "fr", via: "webcasts_"}}
				= image_tag("twitter.png")


		- if user_signed_in? or !@screencast.premium
			#disqus_thread{style: "margin-top: 25px"}

		%noscript 
			Please enable JavaScript
    
				


						

