!!!
%html
	%head
		%title 
			- if @screencast
				= @screencast.titre 
				\|
			- elsif request.fullpath == "/mes-favoris"
				Mes favoris -
			- else
				Accueil - 
			WebCasts
		= favicon_link_tag "webcasts.png"
		= stylesheet_link_tag    "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

%body


%nav
	.pull-left
		= link_to "WebCasts", root_path, class: "brand"
		.search
			%input#search
			= image_tag('search.png')
	.pull-right
		- if user_signed_in?
			- if current_user.admin
				= link_to "Nouveau screencast", new_screencast_path, class:'btn btn-warning admin'
				= link_to "Nouvelle catégorie", new_category_path, class:'btn btn-warning admin-categ'
			%a.connected{href: '#'}
				= image_tag(get_avatar_url(current_user))
				%span
					= current_user.prenom.capitalize
					= current_user.nom.capitalize

			.panel.hide
				%ul
					%li
						= link_to "Éditer mon profil", edit_user_registration_path(current_user)
					%li
						= link_to "Mes favoris", mes_favoris_path
					%li
						= link_to "Déconnexion", destroy_user_session_path, method: :delete
		- else
			= link_to "Connexion", login_path , class: "registration btn btn-reverse"
			= link_to "Inscription", new_user_registration_path, class: "registration btn btn-warning"

.search-results
	#clear
		Fermer la fenêtre

.container.flash_message
	- if flash[:error] 
		.flash.flash-error
			= flash[:error]
			.dismiss X
	- elsif flash[:notice]
		.flash.flash-notice
			= flash[:notice]
			.dismiss X
= yield

